<h1>Migraine Prediction Form</h1>

<form method="POST">

    {% csrf_token %}

    <!-- AGE -->
    <label>Age:</label>
    <input type="number" name="Age" required>

    <br><br>

    <!-- DURATION -->
    <label>Duration:</label>
    <input type="number" name="Duration" required>

    <br><br>

    <!-- FREQUENCY -->
    <label>Frequency:</label>
    <input type="number" name="Frequency" required>

    <br><br>

    <!-- LOCATION -->
    <label>Location:</label>
    <input type="number" name="Location" required>

    <br><br>

    <!-- CHARACTER -->
    <label>Character:</label>
    <input type="number" name="Character" required>

    <br><br>

    <!-- INTENSITY -->
    <label>Intensity:</label>
    <input type="number" name="Intensity" required>

    <br><br>

    <!-- NAUSEA -->
    <label>Nausea:</label>
    <input type="number" name="Nausea" required>

    <br><br>

    <!-- VOMIT -->
    <label>Vomit:</label>
    <input type="number" name="Vomit" required>

    <br><br>

    <!-- PHONOPHOBIA -->
    <label>Phonophobia:</label>
    <input type="number" name="Phonophobia" required>

    <br><br>

    <!-- PHOTOPHOBIA -->
    <label>Photophobia:</label>
    <input type="number" name="Photophobia" required>

    <br><br>

    <!-- VISUAL -->
    <label>Visual:</label>
    <input type="number" name="Visual" required>

    <br><br>

    <!-- SENSORY -->
    <label>Sensory:</label>
    <input type="number" name="Sensory" required>

    <br><br>

    <!-- DYSPHASIA -->
    <label>Dysphasia:</label>
    <input type="number" name="Dysphasia" required>

    <br><br>

    <!-- DYSARTHRIA -->
    <label>Dysarthria:</label>
    <input type="number" name="Dysarthria" required>

    <br><br>

    <!-- VERTIGO -->
    <label>Vertigo:</label>
    <input type="number" name="Vertigo" required>

    <br><br>

    <!-- TINNITUS -->
    <label>Tinnitus:</label>
    <input type="number" name="Tinnitus" required>

    <br><br>

    <!-- HYPOACUSIS -->
    <label>Hypoacusis:</label>
    <input type="number" name="Hypoacusis" required>

    <br><br>

    <!-- DIPLOPIA -->
    <label>Diplopia:</label>
    <input type="number" name="Diplopia" required>

    <br><br>

    <!-- DEFECT -->
    <label>Defect:</label>
    <input type="number" name="Defect" required>

    <br><br>

    <!-- ATAXIA -->
    <label>Ataxia:</label>
    <input type="number" name="Ataxia" required>

    <br><br>

    <!-- CONSCIENCE -->
    <label>Conscience:</label>
    <input type="number" name="Conscience" required>

    <br><br>

    <!-- PARESTHESIA -->
    <label>Paresthesia:</label>
    <input type="number" name="Paresthesia" required>

    <br><br>

    <!-- DPF -->
    <label>DPF:</label>
    <input type="number" name="DPF" required>

    <br><br>

    <button type="submit">Predict</button>

</form>